#root {
  min-width: 1280px;
  margin: 0;
  padding: 0rem;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 100vw;
  min-height: 100vh;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
